<!DOCTYPE html>
{% load static %}
<html>
   <link>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

       <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script type="text/javascript" src="{% static "polls/tmpScript.js" %}" ></script>
       <link href="{% static "bootstrap/css/bootstrap.css"%}" rel="stylesheet">
      <title>HTML Document</title> -->
   </head>
   <body>
   <header onkeyup="true">
   </header>
    <div draggable="false">
       <table border="1" width="100%">
 <thead>
 	<tr><td>...header information...</td></tr>
 </thead>
 <tfoot>
 	<tr><td>...footer information...</td></tr>
 </tfoot>
 <tbody>
 	<tr><td>...first row of block one data...</td></tr>
 </tbody>
 <tbody>
 	<tr><td>...first row of block two data...</td></tr>
 </tbody>
 </table>
    </div>
   </body>
</html>